body{
    background-image: url(./img/TräBakgrund.png);
}
#rubrik{
    background-color: #FFA37A;
    border-radius: 45%;
    text-align: center;
    font-style: italic;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
#Ingredienser{
    background-color: #FFA37A;
    border-radius: 45%;
    text-align: center;
    font-style: italic;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
#grid{
    display: grid;
    grid-template-columns: 50vh 50vh;
    grid-template-rows: 3fr 1fr 8fr 4fr;
}